<div class="container">
<div class="row">
  <div class="col">
  <h2>ユーザー</h2>

  <% @users.each do |user| %>
  <div class="wrapper col-md-2 col-md-offset-2 col-sm-10">
       <%= link_to user_path(user) do %>
        <%= profile_img(user) %>
        <%= user.name %>
        <% end %>

      <p><% if user.id != current_user.id %></p>

          <p><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%></p>
          <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>

    <% end %>
    </div>
  <% end %>
</div></div></div>
