<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
  <h2>ユーザー</h2>
<div class="user">
  <% @users.each do |user| %>
       <%= link_to user_path(user) do %>
        <%= profile_img(user) %>
        <%= user.name %>
        <% end %>

      <% if user.id != current_user.id %>
      <li>
          <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
          <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
      </li></div>
    <% end %></div>
  <% end %>
</div>
